
:root {
  /* NOUVELLE PALETTE VIOLETTE */
  --primary: #8b5cf6;       /* Violet vibrant */
  --primary-dark: #7c3aed;  /* Violet foncé */
  --primary-light: #a78bfa; /* Violet clair / Lilas */
  
  --danger: #ef4444;
  --warning: #f59e0b;
  --success: #10b981;
  
 
  --bg-dark: #0f0720;       
  --bg-card: #1e1b2e;       
  --bg-hover: #2e2440;    
  
  --text-primary: #f3f0ff;  
  --text-secondary: #9ca3af;
  --border: #373055;        
  --shadow: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}


/* =========================================
   3. TYPOGRAPHY GLOBALE
   ========================================= */
h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
  font-weight: 700;
  line-height: 1.2;
}

p {
  color: var(--text-secondary);
}

a {
  text-decoration: none;
  color: inherit;
  transition: var(--transition);
}

button, input, select {
  font-family: inherit;
}


::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0a0105; /* Fond de la piste */
}

::-webkit-scrollbar-thumb {
  background: #880E4F; 
  border-radius: 5px;
  border: 2px solid #0a0105; 
}

::-webkit-scrollbar-thumb:hover {
  background: #C71585; 
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #6d076d #0a0105;
}



.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}